@charset "UTF-8";

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.login__header img {
    width: 130px; /* Menos que  isso a imagem some */
}

.login__header h1 {
    color: #333;
    font-size: 1.5em;
}

.login__input {
    border: 2px solid #333;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
    color: #333;
    font-size: 1em;
    outline: none;
}

.login__button {
    background-color: #ee665c;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}

.login__button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}